@model List<Core.Data.EntryDbModels.Product>

@{
    ViewData["Title"] = "Cart List";
}
@if(Model.Any())
{
    <form method="post">
        <br />
        <div class="backgroundWhiteBorder">
            <div class="container row">
                <div class="col -8">
                    <div class="card mt-4">
                        <div class="card-header bg-dark text-light ml-0 row container">
                            <div class="col-6">
                                <i class="fa fa-shopping-cart"></i> &nbsp;
                                Количка
                            </div>
                            <div class="col-6 text-right">
                                <a asp-action="Clear" class="btn btn-outline-danger btn-sm">Премахни всички</a>
                                <a asp-action="Index" asp-controller="Home" class="btn btn-outline-info btn-sm">Продължи с пазаруването</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class=" d-none d-lg-block">
                                <div class="row" style="color:#821f3d">
                                    <div class="col-lg-2">
                                    </div>
                                   
                                        <div class="col-12 col-lg-3">
                                            Детайли
                                        </div>
                                    
                                    
                                    <div class="col-12 col-lg-2">
                                        Цена на брой
                                    </div>
                                    
                                        <div class="col-6 col-lg-2">
                                            Количество
                                        </div>
                                        <div class="col-6 col-lg-2">
                                            Общо
                                        </div>
                                    <div class="col-6 col-sm-4 col-lg-1">
                                    </div>
                                </div>
                            </div>

                            <hr />
                            @{
                                var orderTotal = 0.0;
                            }
                            @for (int i = 0; i<Model.Count(); i++)
                            {
                                <input hidden asp-for="@Model[i].Id"/>
                                <div class="row h-100">
                                    <div class="col-4 col-md-2 text-center py-2">
                                        <img src="@WebConstants.ImagePath@Model[i].Image" alt="@Model[i].Name" class="rounded" width="100%"/>
                                    </div>
                                    
                                        <div class="col-8 col-lg-3">
                                            <h5>@Model[i].Name</h5>
                                            <div style="font-size:11px;">@Model[i].ShortDescription</div>
                                        </div>
                                    
                                    <div class="col-3 col-lg-2 pt-lg-4" style="font-size:11px;">
                                        <span style="font-size:17px;"> @Model[i].Price.ToString("F2") лв.</span>

                                    </div>
                                        <div class="col-4 col-lg-2 pt-lg-4" style="font-size:11px;">
                                            <input type="text" asp-for="@Model[i].TempQuantity" class="form-control"/>
                                            <span asp-validation-for="@Model[i].TempQuantity" class="text-danger"></span>
                                        </div>
                                        <di class="col-3 col-lg-2 pt-lg-4" style="font-size:11px;">
                                            @{ var total = Model[i].Price * Model[i].TempQuantity;
                                            }
                                            <span style="font-size:17px;">@total.ToString("F2") лв.</span>
                                        </di>
                                        <div class="col-2 col-lg-1 p-0 pt-lg-4 text-center">
                                        <a asp-action="Remove" asp-route-id="@Model[i].Id" class="btn btn-outline-danger">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </div>
                                orderTotal += Model[i].Price * Model[i].TempQuantity;
                                <hr />
                            }
                            <div class="row">
                                    <div class="col-12 text-end pr-4" style="color: #821f3d">
                                        Крайна сума : @string.Format("{0:f2}",orderTotal) лв.
                                    </div>
                                </div>
                                </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-6 col-md-3 offset-md-6">
                                        <input type="submit" asp-action="UpdateCart" formmethod="post" name="Update" value="Обново количката"
                                            class="btn btn-info form-control" />
                                </div>
                                <div class="col-6 col-md-3">
                                    <button type="submit" class="btn btn-success form-control ">
                                        <span>Продължи</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
else
{
    <p>Няма продукти в количката</p>
}

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}
