@model Infrastructure.DTOs.ProductUserViewModel

<form method="post" id="payment-form">
    <br/>
    <div class="backgroundWhiteBorder">
        <div class="container">
            <div class="card">
                <div class="card-header bg-dark text-light ml-0 row container">
                    <div class="col-6">
                        <i class="fa fa-shopping-cart"></i> &nbsp;
                        Преглед
                    </div>
                    <div class="col-6 text-right">
                        <a class="btn btn-outline-info btn-sm" asp-action="Index">Обратно е количката</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container rounded p-2">
                        <div class="row">
                            <div class="col-12 col-lg-7 pb-4">
                                <div class="row">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-info">User Детайли:</span>
                                    </h4>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Имена</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="ApplicationUser.FullName" type="text" class="form-control"/>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Телефон</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="ApplicationUser.PhoneNumber" required type="text" class="form-control"/>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Емаил</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="ApplicationUser.Email" required type="text" class="form-control"/>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Град</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="ApplicationUser.Address.City" required type="text" class="form-control"/>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Адрес</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="ApplicationUser.Address.StreetAddress" required type="text" class="form-control"/>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Пощенски код</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="ApplicationUser.Address.ZipCode" required type="text" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-5 row">
                                <div class="col-12">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-info">Summary:</span>
                                    </h4>
                                    <ul class="list-group mb-3">
                                        @{ var orderTotal = 0.0;}

                                        @for (int i = 0; i < Model.Products.Count(); i++)
                                        {
                                            <input type="hidden" asp-for="@Model.Products[i].Id"/>
                                            <input type="hidden" asp-for="@Model.Products[i].Name"/>
                                            <input type="hidden" asp-for="@Model.Products[i].Price"/>
                                            <input type="hidden" asp-for="@Model.Products[i].TempQuantity"/>
                                            @if (!Model.Products.Any(p => p.Type.Name == "Услуги" ))
                                            {
                                            <li class="list-group-item d-flex justify-content-between">
                                                <div>
                                                    <h6 class="my-0">@Model.Products[i].Name</h6>
                                                    <small class="text-muted">бр @Model.Products[i].TempQuantity</small>
                                                </div>
                                            </li>
                                            orderTotal += Model.Products[i].Price * Model.Products[i].TempQuantity;
                                        }
                                       
                                            <li class="list-group-item d-flex justify-content-between bg-light">
                                                <small class="text-info"> Total :</small>
                                                <strong class="text-info">@orderTotal.ToString("F2") лв.</strong>
                                            </li>
                                        }
                                    </ul>
                                </div>
                                @if (!Model.Products.Any(p => p.Type.Name == "Услуги"))
                                {
                                    <div class="col-12">
                                        <div class="container">
                                            <div id="dropin-container"></div>
                                            <input id="nonce" name="payment_method_nonce" type="hidden"/>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12 col-md-5 offset-md-7">
                            @if (!Model.Products.Any(p => p.Type.Name == "Услуги"))
                            {
                                <button class="btn btn-success form-control" onclick="return validateInput()" id="submit-button">Submit Order</button>
                            }
                            else
                            {
                                <button type="submit" onclick="return validateInput()" class="btn btn-primary form-control">Submit Inquiry</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="https://js.braintreegateway.com/web/dropin/1.33.7/js/dropin.min.js"></script>
    <script>
        var client_token = "@ViewBag.ClientToken";
        var form = document.querySelector('#payment-form');

        braintree.dropin.create({
            authorization: client_token,
              container: '#dropin-container'
            }, function (createErr, instance) {
                    form.addEventListener('submit', function () {
                        event.preventDefault();

                        //Add the nonce to the form and submit
                                instance.requestPaymentMethod(function (err, payload) {
                                    // Submit payload.nonce to your server
                                    document.querySelector('#nonce').value = payload.nonce;
                                    form.submit();
                                });
                            });
        });


        function validateInput() {
            var app_name = document.getElementById("ApplicationUser_FullName").value;
            var app_phone = document.getElementById("ApplicationUser_PhoneNumber").value;
            var app_email = document.getElementById("ApplicationUser_Email").value;
            var app_street = document.getElementById("ApplicationUser_Address_StreetAddress").value;
            var app_city = document.getElementById("ApplicationUser_Address_City").value;
            var app_zipcode = document.getElementById("ApplicationUser_Address_ZipCode").value;
            
            

            if (app_name.toString() === '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please enter Your Full Name!'
                })
                return false;
            }
            if (app_phone.toString() === '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please enter Your Phone Number!'
                })
                return false;
            }
            if (app_email.toString() === '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please enter Email!'
                })
                return false;
            }
            if (app_street.toString() === '') {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Please enter Street Address!'
                            })
                            return false;
                        }
            if (app_city.toString() === '') {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Please enter City!'
                            })
                            return false;
                        }
            if (app_zipcode.toString() === '') {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Please enter Postal Code!'
                            })
                            return false;
                        }

            return true;

        }
    </script>
   
}